<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stopwatch</title>
  </head>
  <body>
    <div class="container">
      <div class="display">
        {{stopwatch.hours}} : {{stopwatch.minutes}} : {{stopwatch.seconds}}
      </div>
     <div class="buttons">
      <button class="btn" (click)="startCount()">Start/Stop</button>
      <button class="btn" (click)="waitCount()">Wait</button>
      <button class="btn" (click)="resetCount()">Reset</button>
     </div>
    </div>
  </body>
</html>
